.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.pageBanerSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#363636c4, #363636c4),
    url("/plasmic/professional_services/images/baerMainjpg.jpg") left 50% bottom 70% / cover repeat;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  border-top-width: 0px;
  border-right-width: 100px;
  border-bottom-width: 0px;
  border-left-width: 100px;
  min-width: 0;
  border-radius: 0px;
  padding: 80px 20px;
  border-style: solid;
  border-color: var(--token-XDZplKOK5CXJ);
}
@media (min-width: 0px) and (max-width: 767px) {
  .pageBanerSection {
    border-top-width: 0px;
    border-right-width: 10px;
    border-bottom-width: 0px;
    border-left-width: 10px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    max-width: 100%;
    background: linear-gradient(#363636c4, #363636c4),
      url("/plasmic/professional_services/images/woman32879561920Jpg.jpg") top 50% left 50% / cover repeat;
    transform: translateX(0px) translateY(0px) translateZ(0px);
    min-width: 0;
    border-radius: 0px;
    padding: 80px 20px;
    border-style: solid;
    border-color: var(--token-XDZplKOK5CXJ);
  }
}
.freeBox__ezjeU {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: var(--token-DhwOC_V_MEFF);
  min-width: 0;
  padding: var(--token-ZWNelGej9ubK);
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #efefef;
  min-width: 0;
  padding: 80px 20px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .section {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    max-width: 100%;
    background: #efefef;
    min-width: 0;
    padding: 80px 20px;
  }
}
.freeBox__u8QD {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: var(--token-DhwOC_V_MEFF);
  min-width: 0;
  padding: 0px;
}
.freeBox__iYlql {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__iYlql {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
    padding: 8px;
  }
}
.freeBox__wutAa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: auto;
  overflow: visible;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__wutAa > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__wutAa > :global(.__wab_flex-container) > *,
.freeBox__wutAa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wutAa > :global(.__wab_flex-container) > picture > img,
.freeBox__wutAa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  flex-grow: 1;
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
  padding: 0px;
}
.columns > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 25px);
  width: calc(100% + 25px);
  --plsmc-rc-col-gap: 25px;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 25px;
  margin-top: 40px;
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    position: relative;
    flex-shrink: 1;
    flex-grow: 1;
    margin-top: calc(0px + 0px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    min-width: 0;
    padding: 34px 0px 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    min-width: 0;
    margin-left: calc(0px - 25px);
    width: calc(100% + 25px);
    --plsmc-rc-col-gap: 25px;
    margin-top: calc(0px - 25px);
    height: calc(100% + 25px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 25px;
    margin-top: 25px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__h6XP {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.caseStudiesWraper__gk74V:global(.__wab_instance) {
  position: relative;
}
.img__jstmW {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__jstmW > picture > img {
  object-fit: cover;
}
.img__jstmW > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h3__th8Er {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__flGhv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__xqA1S:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  margin-top: 9px;
}
.svg__dOWss {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__l90Gu {
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.svg__ta8D {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__zmqNc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.caseStudiesWraper__kCdh3:global(.__wab_instance) {
  position: relative;
}
.img___1GZu3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___1GZu3 > picture > img {
  object-fit: cover;
}
.img___1GZu3 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h3___7Cq8M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__iRyx1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__hvhg0:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  margin-top: 9px;
}
.svg___1YC6S {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__n9Xjo {
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.svg__tkM69 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__yoUnu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.caseStudiesWraper___4T3Yj:global(.__wab_instance) {
  position: relative;
}
.img__i548B {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__i548B > picture > img {
  object-fit: cover;
}
.img__i548B > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h3__qhjlc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__h6V4Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button___7VOtD:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  margin-top: 9px;
}
.svg__z7HQj {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__tSJsb {
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.svg__pUek {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__p58Yb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.caseStudiesWraper__gCCz5:global(.__wab_instance) {
  position: relative;
}
.img__wEpDr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__wEpDr > picture > img {
  object-fit: cover;
}
.img__wEpDr > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h3__yfGrY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__mzRy9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button___6TiUy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  margin-top: 9px;
}
.svg___60Xyy {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___7Pl0X {
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.svg___2SPs4 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__b8UKy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.caseStudiesWraper__en7WL:global(.__wab_instance) {
  position: relative;
}
.img__mEXaN {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__mEXaN > picture > img {
  object-fit: cover;
}
.img__mEXaN > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h3__e0KLs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text___8QVc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__x7ArF:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  margin-top: 9px;
}
.svg__fSp {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__rS3I {
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.svg__pRnSj {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column___45ZMw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.caseStudiesWraper__w5I6:global(.__wab_instance) {
  position: relative;
}
.img__gwHc3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__gwHc3 > picture > img {
  object-fit: cover;
}
.img__gwHc3 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h3__dwup5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__ylxK5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__r5IVx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  margin-top: 9px;
}
.svg___9Bld7 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__q17Zz {
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.svg__tObyg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__qmzN {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.caseStudiesWraper__hgheQ:global(.__wab_instance) {
  position: relative;
}
.img___8Wv54 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___8Wv54 > picture > img {
  object-fit: cover;
}
.img___8Wv54 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h3___0PbV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__i1PSi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button___5C6BB:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  margin-top: 9px;
}
.svg__tuG0I {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__u4Enh {
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.svg__xGHkn {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__bnw4M {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.caseStudiesWraper__bRzhl:global(.__wab_instance) {
  position: relative;
}
.img___93IKo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___93IKo > picture > img {
  object-fit: cover;
}
.img___93IKo > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h3__fedQa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__aOvXu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__qcFXe:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  margin-top: 9px;
}
.svg__zruk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__dxd0U {
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.svg__vRwaa {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.ctaBottom:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 767px) {
  .ctaBottom:global(.__wab_instance) {
    position: relative;
  }
}
.footer:global(.__wab_instance) {
  position: relative;
}
