@import url("https://fonts.googleapis.com/css2?family=Poppins%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600&family=Raleway%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600&family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600&family=Playfair+Display%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B1%2C400%3B1%2C500%3B1%2C600&family=Montserrat%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600&display=swap");

.plasmic_tokens {
  --token-KZGWnD7Td73C: #d8edea;
  --plasmic-token-unnamed-style-token: var(--token-KZGWnD7Td73C);
  --token-nauoyn4OwlBD: #ffffff;
  --plasmic-token-white: var(--token-nauoyn4OwlBD);
  --token-XDZplKOK5CXJ: #fe5737;
  --plasmic-token-orange: var(--token-XDZplKOK5CXJ);
  --token-TucKAbLw-SjU: #222222;
  --plasmic-token-heading-h-2: var(--token-TucKAbLw-SjU);
  --token-DhwOC_V_MEFF: 1680px;
  --plasmic-token-container-mixin: var(--token-DhwOC_V_MEFF);
  --token-ZWNelGej9ubK: 0px;
  --plasmic-token-pading-container: var(--token-ZWNelGej9ubK);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-yLENcwXIjMkx_font-family: "Poppins", sans-serif;
  --mixin-yLENcwXIjMkx_font-size: 16px;
  --mixin-yLENcwXIjMkx_font-weight: 300;
  --mixin-yLENcwXIjMkx_font-style: normal;
  --mixin-yLENcwXIjMkx_color: #222222;
  --mixin-yLENcwXIjMkx_text-align: left;
  --mixin-yLENcwXIjMkx_text-transform: none;
  --mixin-yLENcwXIjMkx_line-height: 1.65;
  --mixin-yLENcwXIjMkx_letter-spacing: normal;
  --mixin-yLENcwXIjMkx_white-space: pre-wrap;
  --mixin-yLENcwXIjMkx_user-select: text;
  --mixin-yLENcwXIjMkx_text-decoration-line: none;
  --mixin-yLENcwXIjMkx_text-overflow: clip;
  --mixin-L7-ANzr9C3Yn_color: var(--token-nauoyn4OwlBD);
  --mixin-L7-ANzr9C3Yn_font-weight: 600;
  --mixin-L7-ANzr9C3Yn_font-size: 65px;
  --mixin-L7-ANzr9C3Yn_line-height: 1.1;
  --mixin-L7-ANzr9C3Yn_margin-top: 0px;
  --mixin-L7-ANzr9C3Yn_margin-right: 0px;
  --mixin-L7-ANzr9C3Yn_margin-bottom: 0px;
  --mixin-L7-ANzr9C3Yn_margin-left: 0px;
  --mixin-L7-ANzr9C3Yn_font-family: "Raleway", sans-serif;
  --mixin-L7-ANzr9C3Yn_text-transform: uppercase;
  --mixin-L7-ANzr9C3Yn_box-shadow: none;
  --mixin-L7-ANzr9C3Yn_backdrop-filter: none;
  --mixin-L7-ANzr9C3Yn_white-space: pre-wrap;
  --mixin-9ZgU-y6KQ8dh_color: var(--token-TucKAbLw-SjU);
  --mixin-9ZgU-y6KQ8dh_font-weight: 600;
  --mixin-9ZgU-y6KQ8dh_font-size: 38px;
  --mixin-9ZgU-y6KQ8dh_line-height: 1.2;
  --mixin-9ZgU-y6KQ8dh_font-family: "Raleway", sans-serif;
  --mixin-9ZgU-y6KQ8dh_margin-top: 0px;
  --mixin-9ZgU-y6KQ8dh_margin-right: 0px;
  --mixin-9ZgU-y6KQ8dh_margin-bottom: 0px;
  --mixin-9ZgU-y6KQ8dh_margin-left: 0px;
  --mixin-9ZgU-y6KQ8dh_white-space: pre-wrap;
  --mixin-mBSKhWgsG7Se_color: var(--token-XDZplKOK5CXJ);
  --mixin-mBSKhWgsG7Se_font-family: "Poppins", sans-serif;
  --mixin-mBSKhWgsG7Se_font-weight: 300;
  --mixin-mBSKhWgsG7Se_font-size: 17px;
  --mixin-mBSKhWgsG7Se_line-height: 1.65;
  --mixin-mBSKhWgsG7Se_white-space: pre-wrap;
  --mixin-ozryEMO55fgZ_color: #000000;
  --mixin-ozryEMO55fgZ_font-weight: 500;
  --mixin-ozryEMO55fgZ_font-size: 24px;
  --mixin-ozryEMO55fgZ_line-height: 1.2;
  --mixin-ozryEMO55fgZ_font-family: "Poppins", sans-serif;
  --mixin-ozryEMO55fgZ_margin-top: 0px;
  --mixin-ozryEMO55fgZ_margin-right: 0px;
  --mixin-ozryEMO55fgZ_margin-bottom: 0px;
  --mixin-ozryEMO55fgZ_margin-left: 0px;
  --mixin-ozryEMO55fgZ_white-space: pre-wrap;
  --mixin-r4Vrkbdh7NGU_font-family: "Inter", sans-serif;
  --mixin-r4Vrkbdh7NGU_color: #000000;
  --mixin-r4Vrkbdh7NGU_font-size: 24px;
  --mixin-r4Vrkbdh7NGU_font-weight: 600;
  --mixin-r4Vrkbdh7NGU_letter-spacing: -0.5px;
  --mixin-r4Vrkbdh7NGU_line-height: 1.3;
  --mixin-r4Vrkbdh7NGU_white-space: pre-wrap;
  --mixin-RVrhtv725kdC_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-RVrhtv725kdC_border-bottom-color: #dddddd;
  --mixin-RVrhtv725kdC_border-bottom-style: solid;
  --mixin-RVrhtv725kdC_border-bottom-width: 1px;
  --mixin-RVrhtv725kdC_border-left-color: #dddddd;
  --mixin-RVrhtv725kdC_border-left-style: solid;
  --mixin-RVrhtv725kdC_border-left-width: 1px;
  --mixin-RVrhtv725kdC_border-right-color: #dddddd;
  --mixin-RVrhtv725kdC_border-right-style: solid;
  --mixin-RVrhtv725kdC_border-right-width: 1px;
  --mixin-RVrhtv725kdC_border-top-color: #dddddd;
  --mixin-RVrhtv725kdC_border-top-style: solid;
  --mixin-RVrhtv725kdC_border-top-width: 1px;
  --mixin-RVrhtv725kdC_border-bottom-left-radius: 3px;
  --mixin-RVrhtv725kdC_border-bottom-right-radius: 3px;
  --mixin-RVrhtv725kdC_border-top-left-radius: 3px;
  --mixin-RVrhtv725kdC_border-top-right-radius: 3px;
  --mixin-RVrhtv725kdC_font-family: "Inconsolata";
  --mixin-RVrhtv725kdC_padding-bottom: 1px;
  --mixin-RVrhtv725kdC_padding-left: 4px;
  --mixin-RVrhtv725kdC_padding-right: 4px;
  --mixin-RVrhtv725kdC_padding-top: 1px;
  --mixin-RVrhtv725kdC_white-space: pre-wrap;
  --mixin-s29nS9z2NBU-_margin-top: 0px;
  --mixin-s29nS9z2NBU-_margin-right: 0px;
  --mixin-s29nS9z2NBU-_margin-bottom: 10px;
  --mixin-s29nS9z2NBU-_margin-left: 0px;
  --mixin-s29nS9z2NBU-_color: #ca7716;
  --mixin-s29nS9z2NBU-_font-family: "Playfair Display", serif;
  --mixin-s29nS9z2NBU-_font-size: 18px;
  --mixin-s29nS9z2NBU-_line-height: 1.5;
  --mixin-s29nS9z2NBU-_white-space: pre-wrap;
  --mixin-85m41H7luKyr_font-family: "Inter", sans-serif;
  --mixin-85m41H7luKyr_color: #000000;
  --mixin-85m41H7luKyr_font-size: 16px;
  --mixin-85m41H7luKyr_font-weight: 600;
  --mixin-85m41H7luKyr_line-height: 1.5;
  --mixin-85m41H7luKyr_white-space: pre-wrap;
  --mixin-ANrs5CcyiGxv_border-left-color: #dddddd;
  --mixin-ANrs5CcyiGxv_border-left-style: solid;
  --mixin-ANrs5CcyiGxv_border-left-width: 3px;
  --mixin-ANrs5CcyiGxv_color: #888888;
  --mixin-ANrs5CcyiGxv_padding-left: 10px;
  --mixin-ANrs5CcyiGxv_white-space: pre-wrap;
  --mixin-9u6UrafWMmWU_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-9u6UrafWMmWU_border-bottom-color: #dddddd;
  --mixin-9u6UrafWMmWU_border-bottom-style: solid;
  --mixin-9u6UrafWMmWU_border-bottom-width: 1px;
  --mixin-9u6UrafWMmWU_border-left-color: #dddddd;
  --mixin-9u6UrafWMmWU_border-left-style: solid;
  --mixin-9u6UrafWMmWU_border-left-width: 1px;
  --mixin-9u6UrafWMmWU_border-right-color: #dddddd;
  --mixin-9u6UrafWMmWU_border-right-style: solid;
  --mixin-9u6UrafWMmWU_border-right-width: 1px;
  --mixin-9u6UrafWMmWU_border-top-color: #dddddd;
  --mixin-9u6UrafWMmWU_border-top-style: solid;
  --mixin-9u6UrafWMmWU_border-top-width: 1px;
  --mixin-9u6UrafWMmWU_border-bottom-left-radius: 3px;
  --mixin-9u6UrafWMmWU_border-bottom-right-radius: 3px;
  --mixin-9u6UrafWMmWU_border-top-left-radius: 3px;
  --mixin-9u6UrafWMmWU_border-top-right-radius: 3px;
  --mixin-9u6UrafWMmWU_font-family: "Inconsolata";
  --mixin-9u6UrafWMmWU_padding-bottom: 3px;
  --mixin-9u6UrafWMmWU_padding-left: 6px;
  --mixin-9u6UrafWMmWU_padding-right: 6px;
  --mixin-9u6UrafWMmWU_padding-top: 3px;
  --mixin-9u6UrafWMmWU_white-space: pre-wrap;
  --mixin-ECFudYvI3NM7_display: flex;
  --mixin-ECFudYvI3NM7_flex-direction: column;
  --mixin-ECFudYvI3NM7_align-items: stretch;
  --mixin-ECFudYvI3NM7_justify-content: flex-start;
  --mixin-ECFudYvI3NM7_list-style-position: outside;
  --mixin-ECFudYvI3NM7_padding-left: 40px;
  --mixin-ECFudYvI3NM7_position: relative;
  --mixin-ECFudYvI3NM7_list-style-type: decimal;
  --mixin-ECFudYvI3NM7_white-space: pre-wrap;
  --mixin-HFHgGAprp0OP_display: flex;
  --mixin-HFHgGAprp0OP_flex-direction: column;
  --mixin-HFHgGAprp0OP_align-items: stretch;
  --mixin-HFHgGAprp0OP_justify-content: flex-start;
  --mixin-HFHgGAprp0OP_list-style-position: outside;
  --mixin-HFHgGAprp0OP_padding-left: 40px;
  --mixin-HFHgGAprp0OP_position: relative;
  --mixin-HFHgGAprp0OP_list-style-type: disc;
  --mixin-HFHgGAprp0OP_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-e85cieb8zXrT_white-space: pre-wrap;
  --plasmic-mixin-footer-menu-text_white-space: var(
    --mixin-e85cieb8zXrT_white-space
  );
  --mixin-wU8Pf0etlhaZ_white-space: pre-wrap;
  --plasmic-mixin-padding-section_white-space: var(
    --mixin-wU8Pf0etlhaZ_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-yLENcwXIjMkx_font-family);
  font-size: var(--mixin-yLENcwXIjMkx_font-size);
  font-weight: var(--mixin-yLENcwXIjMkx_font-weight);
  font-style: var(--mixin-yLENcwXIjMkx_font-style);
  color: var(--mixin-yLENcwXIjMkx_color);
  text-align: var(--mixin-yLENcwXIjMkx_text-align);
  text-transform: var(--mixin-yLENcwXIjMkx_text-transform);
  line-height: var(--mixin-yLENcwXIjMkx_line-height);
  letter-spacing: var(--mixin-yLENcwXIjMkx_letter-spacing);
  white-space: var(--mixin-yLENcwXIjMkx_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-L7-ANzr9C3Yn_color);
  font-weight: var(--mixin-L7-ANzr9C3Yn_font-weight);
  font-size: var(--mixin-L7-ANzr9C3Yn_font-size);
  line-height: var(--mixin-L7-ANzr9C3Yn_line-height);
  font-family: var(--mixin-L7-ANzr9C3Yn_font-family);
  text-transform: var(--mixin-L7-ANzr9C3Yn_text-transform);
  box-shadow: var(--mixin-L7-ANzr9C3Yn_box-shadow);
  backdrop-filter: var(--mixin-L7-ANzr9C3Yn_backdrop-filter);
  margin: var(--mixin-L7-ANzr9C3Yn_margin-top)
    var(--mixin-L7-ANzr9C3Yn_margin-right)
    var(--mixin-L7-ANzr9C3Yn_margin-bottom)
    var(--mixin-L7-ANzr9C3Yn_margin-left);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-9ZgU-y6KQ8dh_color);
  font-weight: var(--mixin-9ZgU-y6KQ8dh_font-weight);
  font-size: var(--mixin-9ZgU-y6KQ8dh_font-size);
  line-height: var(--mixin-9ZgU-y6KQ8dh_line-height);
  font-family: var(--mixin-9ZgU-y6KQ8dh_font-family);
  margin: var(--mixin-9ZgU-y6KQ8dh_margin-top)
    var(--mixin-9ZgU-y6KQ8dh_margin-right)
    var(--mixin-9ZgU-y6KQ8dh_margin-bottom)
    var(--mixin-9ZgU-y6KQ8dh_margin-left);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-mBSKhWgsG7Se_color);
  font-family: var(--mixin-mBSKhWgsG7Se_font-family);
  font-weight: var(--mixin-mBSKhWgsG7Se_font-weight);
  font-size: var(--mixin-mBSKhWgsG7Se_font-size);
  line-height: var(--mixin-mBSKhWgsG7Se_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-ozryEMO55fgZ_color);
  font-weight: var(--mixin-ozryEMO55fgZ_font-weight);
  font-size: var(--mixin-ozryEMO55fgZ_font-size);
  line-height: var(--mixin-ozryEMO55fgZ_line-height);
  font-family: var(--mixin-ozryEMO55fgZ_font-family);
  margin: var(--mixin-ozryEMO55fgZ_margin-top)
    var(--mixin-ozryEMO55fgZ_margin-right)
    var(--mixin-ozryEMO55fgZ_margin-bottom)
    var(--mixin-ozryEMO55fgZ_margin-left);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-r4Vrkbdh7NGU_font-family);
  color: var(--mixin-r4Vrkbdh7NGU_color);
  font-size: var(--mixin-r4Vrkbdh7NGU_font-size);
  font-weight: var(--mixin-r4Vrkbdh7NGU_font-weight);
  letter-spacing: var(--mixin-r4Vrkbdh7NGU_letter-spacing);
  line-height: var(--mixin-r4Vrkbdh7NGU_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-RVrhtv725kdC_font-family);
  border-radius: var(--mixin-RVrhtv725kdC_border-top-left-radius)
    var(--mixin-RVrhtv725kdC_border-top-right-radius)
    var(--mixin-RVrhtv725kdC_border-bottom-right-radius)
    var(--mixin-RVrhtv725kdC_border-bottom-left-radius);
  padding: var(--mixin-RVrhtv725kdC_padding-top)
    var(--mixin-RVrhtv725kdC_padding-right)
    var(--mixin-RVrhtv725kdC_padding-bottom)
    var(--mixin-RVrhtv725kdC_padding-left);
  border-top: var(--mixin-RVrhtv725kdC_border-top-width)
    var(--mixin-RVrhtv725kdC_border-top-style)
    var(--mixin-RVrhtv725kdC_border-top-color);
  border-right: var(--mixin-RVrhtv725kdC_border-right-width)
    var(--mixin-RVrhtv725kdC_border-right-style)
    var(--mixin-RVrhtv725kdC_border-right-color);
  border-bottom: var(--mixin-RVrhtv725kdC_border-bottom-width)
    var(--mixin-RVrhtv725kdC_border-bottom-style)
    var(--mixin-RVrhtv725kdC_border-bottom-color);
  border-left: var(--mixin-RVrhtv725kdC_border-left-width)
    var(--mixin-RVrhtv725kdC_border-left-style)
    var(--mixin-RVrhtv725kdC_border-left-color);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-s29nS9z2NBU-_color);
  font-family: var(--mixin-s29nS9z2NBU-_font-family);
  font-size: var(--mixin-s29nS9z2NBU-_font-size);
  line-height: var(--mixin-s29nS9z2NBU-_line-height);
  margin: var(--mixin-s29nS9z2NBU-_margin-top)
    var(--mixin-s29nS9z2NBU-_margin-right)
    var(--mixin-s29nS9z2NBU-_margin-bottom)
    var(--mixin-s29nS9z2NBU-_margin-left);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-85m41H7luKyr_font-family);
  color: var(--mixin-85m41H7luKyr_color);
  font-size: var(--mixin-85m41H7luKyr_font-size);
  font-weight: var(--mixin-85m41H7luKyr_font-weight);
  line-height: var(--mixin-85m41H7luKyr_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-ANrs5CcyiGxv_color);
  padding-left: var(--mixin-ANrs5CcyiGxv_padding-left);
  border-left: var(--mixin-ANrs5CcyiGxv_border-left-width)
    var(--mixin-ANrs5CcyiGxv_border-left-style)
    var(--mixin-ANrs5CcyiGxv_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-9u6UrafWMmWU_font-family);
  border-radius: var(--mixin-9u6UrafWMmWU_border-top-left-radius)
    var(--mixin-9u6UrafWMmWU_border-top-right-radius)
    var(--mixin-9u6UrafWMmWU_border-bottom-right-radius)
    var(--mixin-9u6UrafWMmWU_border-bottom-left-radius);
  padding: var(--mixin-9u6UrafWMmWU_padding-top)
    var(--mixin-9u6UrafWMmWU_padding-right)
    var(--mixin-9u6UrafWMmWU_padding-bottom)
    var(--mixin-9u6UrafWMmWU_padding-left);
  border-top: var(--mixin-9u6UrafWMmWU_border-top-width)
    var(--mixin-9u6UrafWMmWU_border-top-style)
    var(--mixin-9u6UrafWMmWU_border-top-color);
  border-right: var(--mixin-9u6UrafWMmWU_border-right-width)
    var(--mixin-9u6UrafWMmWU_border-right-style)
    var(--mixin-9u6UrafWMmWU_border-right-color);
  border-bottom: var(--mixin-9u6UrafWMmWU_border-bottom-width)
    var(--mixin-9u6UrafWMmWU_border-bottom-style)
    var(--mixin-9u6UrafWMmWU_border-bottom-color);
  border-left: var(--mixin-9u6UrafWMmWU_border-left-width)
    var(--mixin-9u6UrafWMmWU_border-left-style)
    var(--mixin-9u6UrafWMmWU_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-ECFudYvI3NM7_display);
  flex-direction: var(--mixin-ECFudYvI3NM7_flex-direction);
  align-items: var(--mixin-ECFudYvI3NM7_align-items);
  justify-content: var(--mixin-ECFudYvI3NM7_justify-content);
  list-style-position: var(--mixin-ECFudYvI3NM7_list-style-position);
  padding-left: var(--mixin-ECFudYvI3NM7_padding-left);
  position: var(--mixin-ECFudYvI3NM7_position);
  list-style-type: var(--mixin-ECFudYvI3NM7_list-style-type);
  flex-column-gap: var(--mixin-ECFudYvI3NM7_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-HFHgGAprp0OP_display);
  flex-direction: var(--mixin-HFHgGAprp0OP_flex-direction);
  align-items: var(--mixin-HFHgGAprp0OP_align-items);
  justify-content: var(--mixin-HFHgGAprp0OP_justify-content);
  list-style-position: var(--mixin-HFHgGAprp0OP_list-style-position);
  padding-left: var(--mixin-HFHgGAprp0OP_padding-left);
  position: var(--mixin-HFHgGAprp0OP_position);
  list-style-type: var(--mixin-HFHgGAprp0OP_list-style-type);
  flex-column-gap: var(--mixin-HFHgGAprp0OP_flex-column-gap);
}
